body {
    font-family: 'Quicksand', sans-serif;
}
  
h1, h2, h3, h4, h5, h6   {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #081b33;
}
  
a:link, a:visited, a:visited {
    text-decoration: none;
}


ul {
    list-style-type: square;
  }


.line-divider {
    border: 1px solid #fff;
    margin: 0;
}

.bold{
    font-weight: 700;
 }
/* ------------------------ //header and logo //------------------*/

.logo {
    width: 100px;
    height: auto;
}

.tagline {
    font-weight: 700;
    text-transform: uppercase;
}

/* ------------------------ //navigation //------------------*/

.lightblue {
    color: #356cb5;
}

.darkblue {
    color: #081b33;
}

.grey {
    color: #666666;
}

.white {
  color: #fff;
}

.section-grey-light {
    background-color: #dfdfdf;
}

.section-blue-dark {
  background-color: #081b33;
}

.section-blue-light {
  background-color: #356cb5;
}

.nav-item a {
    color: #fff;
}

.nav-link {
  color: #fff !important;
}
/* -------------------------------------------*/

.bold {
  font-weight: 700;
}

.title {
    font-size:xx-large;
    font-weight:900;
    text-transform:uppercase;

}

.paragraph {
    height: auto;
    overflow: hidden;
    line-height: 28px;
    transform: translateY(300px);
}

.img-30 {
  width: 30%;
  margin: 0 auto;
}

.profile {
    width: 70%;
    float: right;
}

.profile-about {
    width: 100%;
}

.email-image {
    width: 50%; 
}

.button-blue {
    width: 180px;
    border-radius: 30px;
    padding: 8px 20px;
    background-color: #356cb5;
    color: #fff !important; 
    border: 1px solid #356cb5;
    font-weight: 400;
    margin: 20px 5px;
}


.button-blue:hover {
    background-color: #081b33;
    color: #fff !important; 
  
}

.button-white {
    width: 180px;
    border-radius: 30px;
    padding: 8px 0px;
    background-color: #fff;
    color: #356cb5 !important; 
    border: 1px solid #356cb5;
    font-weight: 400;
    margin: 20px 5px;
}


.button-white:hover {
    background-color: #356cb5;
    color: #fff !important;
}



/* ------------------------ //Image Overlay//------------------*/



.container-image {
    position: relative;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.image-catalogue:hover {
  opacity: .7;
}


.overlay-right {                             /* ---------------------Slide in (right):*/
    position: absolute; 
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #356cb5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.container-image:hover .overlay-right { 
    width: 100%;
    left: 0;
    opacity: .90;
}


.overlay-left {                             /* ---------------------Slide in (left):*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #356cb5;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.container-image:hover .overlay-left {
    width: 100%;
    opacity: .90;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.text-project {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}



.button-overlay {
    width: 170px;
    border-radius: 30px;
    padding: 8px 30px;
    background-color: #fff;
    color: #356cb5 !important; 
    border: 1px solid #356cb5;
    font-weight: 400;
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;

}

.button-overlay:hover {
    background-color: #081b33;
    color:#fff !important;
}



/*-------------Divider ---------------------*/
.header-center h3 {
    background: #fff;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    text-align: center;
    display: block;
    color: #356cb5;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding: 0 !important;
}


.header-center {
    height: 1px;
    border-bottom: #356cb5 solid 1px;
    margin-bottom: 3.2rem;
    position: relative;
}

.box {
    padding: 5px 10px;
    background-color: #356cb5;
    color:#fff;
}

/*-------------------Skills Section ----------------------------*/




.skill {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: none;
    grid-template-rows: repeat(5, 70px);
}

.skillDiv {
    height: 10px;
    width: 100%;
    background-color: #e0e0e0;
  }

.skillBar {
    display: block;
    height: 10px;
    background-color: #356cb5;
}

.p {
    display: flex;
    justify-content: space-between;
}

.htmlBar {
    width: 0%;
    animation: html 3s 1s 1 forwards;
}

.cssBar {
    width: 0%;
    animation: css 3s 1s 1 forwards;
}

.jsBar {
    width: 0%;
    animation: js 3s 1s 1 forwards;
}
  
.aiBar {
    width: 0%;
    animation: ai 3s 1s 1 forwards;
}

.apBar {
    width: 0%;
    animation: ap 3s 1s 1 forwards;
}

.reactBar {
    width: 0%;
    animation: react 3s 1s 1 forwards;
}

.idBar {
    width: 0%;
    animation: id 3s 1s 1 forwards;
}

.xdBar {
    width: 0%;
    animation: xd 3s 1s 1 forwards;
}

.phpBar {
    width: 0%;
    animation: php 3s 1s 1 forwards;
}

.jqueryBar {
    width: 0%;
    animation: jquery 3s 1s 1 forwards;
}


.corelBar {
    width: 0%;
    animation: corel 3s 1s 1 forwards;
}


  
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }

  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }

  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }

  @keyframes ai {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }

  @keyframes ap {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }

  @keyframes react {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  
  @keyframes id {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }

  @keyframes xd {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }

  @keyframes php {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }

  @keyframes jquery {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }

  @keyframes corel {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }



/*---------------------Timeline--------------------*/

.timeline {
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #081b33;
  top: 10px;
  bottom: 10px;
  left: 50%;
  margin-left: -3px;
  border-radius: 5px;
}

.container-timeline {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    z-index: 1;
}

.container-timeline::after {  /**************Circles*************/
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #fff;
    border: 4px solid #356cb5;
    top: 40px;
    border-radius: 50%;                                       /*need for circles*/
    z-index: 1;
    opacity: 1;
}

.left {
  left: 0;
}


.left::before {  /**************Arrows*************/
  content: " ";
  height: 0;
  position: absolute;
  top: 43px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: 3px solid;                                            /*need for triangle*/
  border-width: 12px 0 12px 12px;                               /*need for triangle*/
  border-color: transparent transparent transparent #f5f5f5;  /*need for triangle*/
}


.right {
  left: 50%;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 43px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: 3px solid;
  border-width: 12px 12px 12px 0;                               /*change triangle orientation*/
  border-color: transparent #f5f5f5 transparent transparent; /*change triangle orientation*/
}


.right::after {  /* Circle fix right side */
  left: -14px;
}


.content-timeline {
  padding: 20px 30px;
  background-color: #f5f5f5;
  border-radius: 6px 6px 6px 6px;
}



/*-------------------------Lightbox Modal and Content-------------------------------*/

.flyer-lightbox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(43, 43, 43, 0.19);
    opacity: 0.7;
}


.modal { /* The Modal (background) */
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.850);
}

/* Modal Content */
.modal-content-container{
 margin-top: 100px;
  width: 100%;
  border-radius: 0;
  outline: 0;
  text-align: center;
}


.modal-image{
  width: 40%;
  height: auto;
  text-align: center;
 }


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover {
  opacity: 0.7;
}

.numbertext {
  color: #f2f2f2;
  font-size: small;
  font-weight: 600;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 50%;
}


/* Next & previous buttons */
.prev-next-buttons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}


/* Position the "next button" to the right */

.prev {
  left: 25px;
  border-radius: 3px 0 0 3px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5px 10px;
  text-decoration: none;
  color: #081b33;
}

.next {
  right: 25px;
  border-radius: 0 3px 3px 0;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5px 10px;
  text-decoration: none;
  color: #081b33;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  opacity: 0.9;
  color: #081b33;
}


/*---------------Counter-------------------*/

.counter-text{
font-size: 100px;
font-weight: 700;
}

.counter-text-desc{
  font-size: 20px;
  font-weight: 700;
}



/*----------------scroll animation -------*/


.animation-move-up {
  position: relative;
  animation: move-up .8s infinite;
  animation-iteration-count: 1;
  animation-timing-function:linear;
  animation-delay: .2s;
}

@keyframes move-up {
  from {top: 30px; opacity: .1;}
  to {top: 0;}
}


.animation-move-left {
  position: relative;
  animation: move-left .8s infinite;
  animation-iteration-count: 1;
  animation-timing-function:linear;
  animation-delay: .4s;
}

@keyframes move-left{
  from {left: 30px; opacity: .1;}
  to {left: 0}
}


.animation-move-right{
  position: relative;
  animation: move-right .8s infinite;
  animation-iteration-count: 1;
  animation-timing-function:linear;
  animation-delay: .1s;
}

@keyframes move-right{
  from {right: 30px; opacity: .1;}
  to {right: 0}
}


.animation-button {
  position: relative;
  animation: move-button .5s infinite;
  animation-iteration-count: 1;
  animation-timing-function:linear;
  animation-delay: .2s;
}

@keyframes move-button{
  from {top: 20px; opacity: .1;}
  to {top: 0}
}



/*----------------------------------*/

@media screen and (max-width: 768px) {

  .btn-mobile-center {
    text-align: center;
    margin-bottom: 0;
  }

  .modal-image{
    width: 80%;
   }

  .container-timeline {
    padding: 0 30px 0 0;
  }

  .left::before {  /**************Arrows*************/
    right: 18px;
  }
  
  .padding-left-768 {
    padding: 0 0 0 30px;
  }

  .right::before {
    left: 20px;
  }

}

@media screen and (max-width: 600px) {

  .title {
    text-align: center;
  }

  .mobile-height-320 {
    height: 500px;
  }
  .counter {
    text-align: center;
  }
  

  .mobile-text-center {
    text-align: center;
  }

  .pe-4, .ps-4  {
    padding: 1.5rem!important;
  }
  

  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  .container-timeline{
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    margin-top: 10px;
  }

  .container-timeline::before {
      left: 60px;
      border: medium solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
  }

  .left::after, .right::after {
      left: 17px;
  }

  .right {
      left: 0%;
  }

}
